@model IEnumerable<ProyectPP2.Models.Servicio>

@{
    ViewBag.Title = "Listado de Servicios";
}

<h2>Servicios</h2>

<p>
    @Html.ActionLink("AGREGAR NUEVO SERVICIO", "Create", new { area = "" }, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            Servicio
            <!--@Html.DisplayNameFor(model => model.nroService)-->
        </th>
        <th>
            Tipo
            <!--@Html.DisplayNameFor(model => model.tipoService)-->
        </th>
        <th>
            Cantidad
            <!--@Html.DisplayNameFor(model => model.cantidadEquipos)-->
        </th>
        <th>
            Inicio
            <!--@Html.DisplayNameFor(model => model.fechaInicio)-->
        </th>
        <th>
            Presupuesto
            <!--@Html.DisplayNameFor(model => model.fechaPresupuestado)-->
        </th>
        <th>
            Aprobación
            <!--@Html.DisplayNameFor(model => model.fechaPresupAprobado)-->
        </th>
        <th>
            Finalización
            <!--@Html.DisplayNameFor(model => model.fechaFin)-->
        </th>
        <th>
            Técnico
            <!--@Html.DisplayNameFor(model => model.Empleado.nombre)-->
        </th>
        <th>
            Cliente
            <!--@Html.DisplayNameFor(model => model.Cliente.nombre)-->
        </th>
        <th>
            N° Serie
            <!--@Html.DisplayNameFor(model => model.Equipo.nroSerie)-->
        </th>
        <th>
            Estado
            <!--@Html.DisplayNameFor(model => model.Estado.nombre)-->
        </th>
        <th>Acción</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nroService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipoService)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadEquipos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaInicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaPresupuestado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaPresupAprobado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo.nroSerie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado.nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idService }) 
            @Html.ActionLink("Detalle", "Details", new { id=item.idService }) 
            @Html.ActionLink("Borrar", "Delete", new { id=item.idService })
        </td>
    </tr>
}

</table>
